.return{
    margin-right: 50px;
    background: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #bab1e1;
}

.return:hover{
    text-decoration: underline;
}

.middle-text{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.middle-search{
    /*position: fixed;*/
    margin-top: 50px;
    /*top: 45%;*/
    width: 100%;
}
